<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoLGpuvUypFYg2yewPxOGYwlbSxwCXhmg</string>
	<key>GCM_SENDER_ID</key>
	<string>116503902229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneApp</string>
	<key>PROJECT_ID</key>
	<string>phone-app-6cf13</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-app-6cf13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116503902229:ios:9983717ebc584fdf35b61c</string>
</dict>
</plist>